.FCLoginCustomerSide {
    background: linear-gradient(to bottom , rgb(189, 236, 223),rgb(93, 129, 120));
    width: 50vw;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.FCLoginCustomerSide form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.FCLoginCustomerSide h1 {
    font-size: 7vh;
    font-weight: 700;
}

.FCLoginCustomerSide form h2 {
    font-size: 3vh;
}

.FCLoginCustomerSide button {
    width: 75%;
    font-size: 5vh ;
}

.FCLoginCustomerSide .labelInputDiv{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 90%;
}

.FCLoginCustomerSide .labelInputDiv input{
    font-size: 3vh;
    max-width: 100%;
}