@import url('/reset.css');

.mainPage {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .turn {

    font-size: 60px;
  }


  .chessGame {
    background-color: rgb(84, 73, 57);
    display: flex;
    flex-direction: column;

    .rows {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
      align-items: center;

      .squares.even {
        background-color: rgb(207, 235, 209);
      }

      .squares.odd {
        background-color: rgb(122, 173, 107);
      }

      .squares.selected {
        background-color: rgb(245, 227, 65) !important;
      }

      .squares.trajectory {
        position: relative;
        overflow: hidden;
      }

      .squares.trajectory::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: radial-gradient(circle at center, rgba(0, 0, 0, 0.246) 0%, transparent 50%);
      }

      .squares.canBeTaken {
        position: relative;
        overflow: hidden;
      }

      .squares.canBeTaken::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: radial-gradient(circle at center, rgba(255, 0, 0, 0.736) 0%, transparent 50%);
      }

      .squares {
        position: relative;
        height: 40px;
        width: 40px;
        cursor: pointer;

        .pawn {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;

          img {
            width: 100%;
          }
        }

        .helpSquare {
          .numberPosition {
            position: absolute;
            top: 0;
            left: 0;
          }

          .letterPosition {
            right: 0;
            bottom: 0;
            position: absolute;
          }
        }
      }
    }
  }
}