.customerHistory {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .filterSide {
        flex: 1;
        background-color: rgb(159, 214, 214);

        .header {
            display: flex;
            flex-direction: row;

            >div {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px;
                gap: 3px;
            }

            .square {
                border: black 1px solid;
                width: 20%;
                height: 100%;
            }

            .notSelected {
                .square {
                    background-color: gray;
                }
            }

            .selected {
                .square {
                    background-color: green;
                }
            }
        }

        .customer {
            font-size: 5vh;
            text-align: center;
            cursor: pointer;
        }


        .customer.notSelected {
            background-color: gray;
            color: rgb(201, 200, 200);
        }

        .customer.selected {
            color: green;
            background-color: rgb(8, 223, 25);
        }

        .selectionedDate {
            background-color: rgb(21, 255, 0);
        }

        .notSelectionedDate {
            background-color: rgb(255, 38, 0);
        }
    }

    .historySide {
        background-color: rgb(18, 167, 167);
        flex: 2;
        height: 100vh;
        display: flex;
        flex-direction: column;

        .header {
            background-color: rgb(44, 147, 207);
            font-size: 35px;
            color: white;
            text-align: center;
        }

        .orders {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-block: 30px;
            flex: 1;
            background-color: aliceblue;
            align-items: center;
<<<<<<< HEAD
            overflow: hidden;
=======
            flex: 1;
>>>>>>> c3de61a0dad7963d836c01c9fd7cc9b055058887

            .order {
                display: flex;
                flex-direction: row;
                background-color: rgba(43, 224, 215, 0.397);
                width: 90%;
                height: 200px;
                border-radius: 20px;
                overflow: hidden;
                align-items: center;
                flex-shrink: 0;

                img {
                    width: auto;
                    height: 100%;
                    flex: 2;
                    object-fit: cover;
                }

                h1 {
                    display: flex;
                    flex: 3;
                    font-size: 35px;
                    justify-content: center;
                }

                /* 
            &::-webkit-scrollbar {
                display: none;
            } */
            }
        }
    }
}