.table {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: 20px 20px auto;
    width: 200px;
    position: relative;


    .tablePictureContainer {
        position: relative;
        z-index: 1;
        cursor: pointer;

        .shadow {
            background-color: black;
            width: 100%;
            height: 20%;
            border-radius: 50%;
            filter: blur(20px);
            position: absolute;
            bottom: 0;
            z-index: -1;
        }

        .tablePicture {
            width: 200px;
        }

        .tableId {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: yellow;
            border: black solid 3px;
            transform: translate(-50%, -50%);
            border-radius: 25%;
            font-size: 30px;
            padding: 5px 10px;
            z-index: 2;
            text-align: center;
        }
    }



    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 248, 255, 0.671);
        padding: 5px;
        border-radius: 5px;
        gap: 3px;
        position: relative;


        .plateLogo {
            width: 50px;
        }

        .customerLogo {
            width: 40px;
        }

        p {
            font-size: 40px;
            text-align: center;
        }

        .statusLogo {
            width: 40px;
            transform: translateX(100%);
            padding-left: 10px;
            position: absolute;
            z-index: 2;
            right: 0;
            animation: blinkLogo 0.75s infinite alternate;
        }

    }


}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}