.managerTimer {

    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgb(180, 226, 198), rgb(82, 151, 97));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;


    .welcome {
        font-size: 40px;
    }

    .titleWorkedToday {
        font-size: 30px;

    }


    .timerContainer {
        font-size: 40px;
    }


    .changeStatusButton {
        font-size: 35px;
        padding: 20px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }

    .changeStatusButton:not(.notActivated):hover {
        filter: brightness(.5);
        transform: translateY(2px);
    }


    .start {
        color: white;
        background-color: green;
    }

    .pause {
        color: white;
        background-color: red;
    }

    .start.notActivated,
    .pause.notActivated {
        opacity: 0.5;
    }

    .start::before {
        content: '▶️ Start service'
    }

    .pause::before {
        content: '⏸️ Pause service'
    }

    table {
        border-collapse: collapse;
        border-radius: 10px;
        border: 5px black solid;
        overflow: hidden;
    }

    table tr,
    table td,
    table th {
        border: 3px rgb(1, 12, 5) solid;
        padding: 15px;
        text-align: center;
        font-size: 25px;
    }

    table tr:nth-child(even) {
        background-color: rgb(214, 214, 214);
    }

    table tr:nth-child(odd) {
        background-color: rgb(156, 156, 156);
    }
}