#restaurant img{
    width: 10vw;
}

#positions{
    display: flex;
    gap: 10px;
}

#positionX::before{
    content: "X : ";
}

#positionY::before{
    content: "Y : ";
}

#restaurant .movingTable:hover{
    opacity: 50%;
    cursor: move;
} 

#moveTable,
#addTable{
    color: black;
    background-color: rgb(230, 230, 230); 
}

.clickedButton{
    color: rgb(173, 173, 173) !important;
    background-color: rgb(73, 73, 73) !important;
}

.table{
    position: absolute;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%,-50%);
}

#restaurant p{
    position: absolute;
    top: 20%;
    color: rgb(49, 34, 11);
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vw;
    font-weight: 550;
}

#restaurant{
    display: flex
}

