.getPokeRuppinsPage {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
}

.getPokeRuppinsPage .h1Container {
    text-align: center;
    background-color: aliceblue;
    font-size: 5vh;
    width: 100vw;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.getPokeRuppinsPage .everypokeRuppinBallContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-inline: 10vw;
    margin-bottom: 20vh;
}

.getPokeRuppinsPage .pokeRuppinBallsContainer {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.getPokeRuppinsPage .everypokeRuppinBallContainer .pokeRuppinBallsContainer img {
    width: 25vh;
    height: 25vh;
    cursor: pointer;
    position: absolute;
}


.getPokeRuppinsPage .pokeBallClose {
    z-index: 3;
}

.getPokeRuppinsPage .pokeBallOpen {
    z-index: 2;
    width: 40vh !important;
    height: 40vh !important;
}


.pokeBallMoving {
    animation: pokeBallMoving 0.75s 1 ease-in-out;
}


@keyframes pokeBallMoving {

    0%,
    40%,
    80%,
    100% {
        transform: translate(0%) rotate(0deg);
    }

    20% {
        transform: translate(-10%) rotate(-20deg);
    }

    60% {
        transform: translate(10%) rotate(20deg);
    }

}

.getPokeRuppinsPage .whiteAllPage{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: allWhiteAnim 2s forwards;
    z-index: 10;
}

.pokeRuppinBallsContainer .pokeCard{
    height: 35vh !important;
    z-index: 5;
}


@keyframes allWhiteAnim {

    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    
}


.pokeRuppinBallsContainer:has(.pokeBallChoosen)  {
    animation: pokeBallChoosen 0.25s 1 ease-in-out;
}


@keyframes pokeBallChoosen {

    0%,100% {
        filter: brightness(1);
        box-shadow: 0 0 0px white;
    }

    25% {
        filter: brightness(2);
    }
    
}

.pokeRuppinBallsContainer h1{
    position: absolute;
    z-index: 2;
    transform: translateY(25vh);
    font-size: 5vh;
    color: aliceblue;
    font-weight: 700;
    text-shadow: 0 0 25px black,0 0 25px black,0 0 25px black;
}