.loginRegisterPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.loginRegisterPage div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.loginRegisterPage img {
    width: 100%;
    margin: auto;
}

.loginRegisterPage input {
    width: 66%;
    font-size: 4vh;
    padding: 3px;
    margin: auto;
}

.loginRegisterPage .errorMessage{
    color: red;
    font-size: 2vh;
    text-shadow: rgb(255, 255, 255) 0 0 5px;
    font-weight: 700;
}

.loginRegisterPage button {
    width: 85%;
    font-size: 4vh;
    padding: 10px;
    border-radius: 40px;
    margin: auto;
}

.loginRegisterPage .registerButton {
    color: white;
    background-color: green;
    cursor: pointer;
}

.loginRegisterPage .loginButton {
    color: white;
    background-color: rgb(29, 103, 187);
    cursor: pointer;
}

.separationLine{
    position: fixed;
    background-color: rgb(7, 10, 36);
    width: 3px;
    height: 80vh;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%);
}